@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700|Vidaloka');
body {
	color: #fff;
	font-size: 12px;
	line-height: 26px;
	font-weight: lighter !important;
	font-family: 'Raleway', sans-serif;
	background: #fff;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}
body, html {
	width: 100%;
	height: 100%;
}
img {
	max-width: 100%;
	height: auto;
}

::-moz-selection {
 background: #fcc73a;
 color: #000;
 text-shadow: none;
}
::selection {
	background: #fcc73a;
	color: #000;
	text-shadow: none;
}
.clear {
	clear: both;
	color: #fff;
}
.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*************************************************
******** ***  ** COMMON STYLES** *** *************
**************************************************/
/*HEADING STYLE*/

/*HEADING STYLE*/


.header {
	width: 100%;
	position: fixed;
	top: 0;
	transition: all .4s;
	z-index: 9999999;
	height: 100px;
	background: none;

}






.white-bg .menu-right a{
color: #fff !important;
}
.white-bg .hamburger__inner, .white-bg .hamburger__inner::before, .white-bg  .hamburger__inner::after {
	background-color:#fff ;
}


.Logo_left {
	width: 80px;
	float: right;
	position: relative;
	min-width: 80px;
}
.logo {
	width: 100%;
	position: relative;
}
.logo img {
	width: 100%;
}
.header_inner {
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding: 15px 5%;
	box-sizing: content-box !important;
}

.banner_overlay {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.99);
	z-index: 100;
}
.top_sectIoN {
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow-x: hidden;
	transition: all .3s;
}
.page {
	width: 100%;
	margin: 0 auto;
	position: relative;
	transition: all .3s;
}
.banner {
	width: 100%;
	height: auto;
	position: relative;
	transition: all .3s;
}
.scroll_btn {
	position: absolute;
	right: 5%;
	z-index: 103;
	bottom: 2%;
	color: #fff;
	font-size: 17px;
}
.scroll_btn span {
	opacity: .2;
}
.scroll_btn a:after {
	font-family: 'FontAwesome';
	content: "\f063";
	color: #fff;
	position: relative;
	left: 20px;
	display: block;
	height: 20px;
	width: 20px;
	z-index: 104;
}
/*HEADER AND BANNNER STYLE ENDS HERE */










/*MOBILE SLIDER NEW*/

/****SLIDER****/


.slider_main {
	margin: 0;
	position: relative;
	z-index: 9;
	height: 100vh;
	font-family: 'Vidaloka', serif !important;
}
#slides {
	position: relative;
}
#slides .slides-container {
	display: none;
}
#slides .scrollable {
 *zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}
.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 999;
	top: 46%;
	width: 100%;
	display: block;
}
.slides-navigation a {
	position: absolute;
	display: block;
}
.slides-navigation a.prev {
	left: 2%;
	font-size: 25px;
	padding: 10px;
}
.slides-navigation a.next {
	right: 2%;
	font-size: 25px;
	padding: 10px;
}
.slides-pagination {
	position: absolute;
	z-index: 10;
	top: 90%;
	text-align: center;
	width: 90%;
	left: 5%;
}
.slides-pagination a {
	border-radius: 15px;
	border: 1px solid #fff;
	width: 14px;
	height: 14px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
	zoom: 1;
 *display: inline;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
	margin: 8px;
	overflow: hidden;
	text-indent: -100%;
	transition-duration: .3s;
}
.slides-pagination a.current {
	/*border: 1px solid #3a3a3a;*/
	background: #fff;
}
.slider_overLay {
	position: absolute;
	top: 0;
	height: 100%;
	background: rgba(0,0,0,0.5);
	/*border:80px solid rgba(0,0,0,0.7);*/
	display: block;
	box-sizing: border-box;
	z-index: 9;
	width: 100%;
	margin: 0 auto;
	left:0;
}
.slider_text {
	margin: 18% auto 0;
	float: none;
	position: relative;
	width: auto;
	z-index: 108;
	font-family: 'Vidaloka', serif !important;
	text-align: center;
}
.slider_text h1 {
	font-size: 30px;
	line-height: 60px;
	font-weight: normal;
	color: #fff;
}
.slider_text h1 span {
	font-size: 70px;
	line-height: 70px;
	color: #fff;
	font-weight: normal;
}
.slider_text h2 {
	font-size: 48px;
	line-height: 36px;
	padding-top: 4%;
	color: #fff;
	font-weight: normal;
	text-align: center;
}
.content_banner img {
	animation: zomminAnim 9s infinite;
}
 @-webkit-keyframes zomminAnim {
 0% {
 transform:scale(1, 1);
}
 100% {
 transform:scale(1.1, 1.1);
}
}




#sticky-social {
   left: 50px;
   position: absolute;
   bottom: 90px;
   z-index: 10;
}
#sticky-social a {
   background: #fab03b;
   color: #fff;
   display: block;
   height: 35px;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
   margin-top: 5px;
   border-radius: 50px;
   font-size: 20px;
}
#sticky-social a span {
   line-height: 35px;
   left: 60px;
   position: absolute;
   text-align:center;
   width:120px;
   background: #fff;
   color: #000;
   opacity: 0;
   border-radius: 50px;
   transition: all .2s;
}
#sticky-social a:hover span {
   left: calc(100% + 10px);
   transition: all .2s;
   opacity: 1;
}


/*ABOUT PAGE*/
.AboutPage{
	width: 100%;
	height: 100vh;
	display: block;
	position: relative;

}
.AboutImage{
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;

}
.AboutImage:after{
	content: '';
	height: 100%;
	width: 100%;
	display: block;;
	z-index: 9;
	background-color: rgb(0,0,0,0.4);
	position: absolute;
	top: 0;
}
.AboutImage img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(100%);
}

.AboutContent{
	position: absolute;
	left: 15%;
	top: 50%;
	width: 400px;
	transform: translateY(-50%);
	z-index: 99;
}
.AboutContent h1{
	color: #fff;
	position: relative;
	font-size: 45px;
	text-align: right;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.AboutContent h1:after{
	background-color: rgb(0, 76,63,0.9);
	mix-blend-mode: overlay;
	height:5px;
	width: 220px;
	content: '';
	display: block;
	right: 0;
	position: absolute;
	bottom: 0;
}

.AboutText{
	background-color: rgb(0, 76,63,0.85);
	mix-blend-mode: overlay;
	padding:15% 8%;
	width: 100%;
	box-sizing: border-box;
}

.AboutText p{
	font-size: 22px;
	line-height: 28px;
	color: #fff;
	
}






/*SERVICES PAGE*/


/*ABOUT PAGE*/

.ServicesPage{
	width: 100%;
	height: 100vh;
	display: block;
	position: relative;

}
.ServicesImage{
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;

}
.ServicesImage:after{
	content: '';
	height: 100%;
	width: 100%;
	display: block;;
	z-index: 9;
	background-color: rgb(0,0,0,0.7);
	position: absolute;
	top: 0;
}
.ServicesImage img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	/*filter: grayscale(100%);*/
}

.ServicesContent{
	position: absolute;
	right: 15%;
	top: 50%;
	width: 400px;
	transform: translateY(-50%);
	z-index: 99;
}
.ServicesContent h1{
	color: #fff;
	position: relative;
	font-size: 45px;
	text-align: right;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.ServicesContent h1:after{
	background-color: rgb(0, 76,63,0.85);
	height:5px;
	width: 220px;
	content: '';
	display: block;
	right: 0;
	position: absolute;
	bottom: 0;
}

.ServicesListing{
	background-color: rgb(0, 76,63,0.85);
	filter: mix-blend-mode(overlay);
	padding:15% 8%;
	width: 100%;
	box-sizing: border-box;
}
.ServicesListing ul li{
	width: 100%
	
}
.ServicesListing ul li{
	font-size: 22px;
	line-height: 28px;
	color: #fff;
	list-style: disc;
	list-style-position: inside;
	margin-bottom: 4%;
	text-transform: capitalize;
	
}

/*PORTFOLIO*/

.work{
	display: block;
	position: relative;
	  background-color: #000;
  background-image: url(../images/01.jpg);
  background-size: cover;
  padding: 5% 0;

}

.work:after{
	content: '';
	height: 100%;
	width: 100%;
	display: block;;
	z-index: 9;
	background-color: rgb(0,0,0,0.7);
	position: absolute;
	top: 0;
}



.work * {
  box-sizing: border-box;
}
.work .category-buttons {
  text-align: center;
  margin: 0 0 60px 0;
  position: relative;
  z-index: 99;
}
@media (max-width: 610px) {
  .work .category-buttons {
    margin: 0 0 30px 0;
  }
  .work .category-buttons a {
    display: inline-block;
    width: 46%;
    padding: 12px 10px !important;
    margin: 1.5% 1% !important;
  }
  .work .category-buttons a:nth-child(even) {
    margin-right: 0;
  }
  .work .category-buttons a:nth-child(odd) {
    margin-left: 0;
  }
}
@media (min-width: 611px) {
  .work .category-buttons a:first-child {
    margin-left: 0;
  }
  .work .category-buttons a:last-child {
    margin-right: 0;
  }
}
.work .category-buttons a {
  color: #FFF;
  text-decoration: none;
  padding: 9px 15px;
  border: 1px solid #014341;
  margin: 0 10px;
  cursor: pointer;
  background-color: #014341;
  font-size: 18px;
  border-radius: 50px;
}
.work .category-buttons a.active {
  color: #FFF;
  border: 1px solid #002322;
  background-color: #002322;
}
.work .grid {
  margin-top: 40px;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 750ms cubic-bezier(1, 0, 0, 1);
  transition: all 750ms cubic-bezier(1, 0, 0, 1);
   position: relative;
  z-index: 99;
}
.work .card {
	height: 190px;
	display: block;
}
.work .card img{
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	filter: grayscale(100%);
	transition: all .3s;

}

.work .card:hover img{
	transition: all .3s;
	filter: grayscale(0%);
}



@media (max-width: 960px) {
  .work .grid {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .work .grid {
    width: 100%;
  }
}
.work .grid .animating {
  -webkit-transition: all 750ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
  transition: all 750ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
}
.work .grid .setScale {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.work .grid .show {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.work .card {
  background: #fff;
  display: block;
  text-decoration: none;
  color: #2b2b2b;
  width: 32%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.15);
  transform-origin: center center;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  overflow: hidden;

}
@media (max-width: 700px) {
  .work .card {
    width: 49.25%;
  }
}
@media (max-width: 480px) {
  .work .card {
    width: 100%;
  }
}
.work .card img {
  display: block;
  width: 100%;
}
.work .card .title {
  padding: 10px;
  color: #2b2b2b;
}
.work .guide {
  width: 32%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1000;
}
@media (max-width: 700px) {
  .work .guide {
    width: 49.25%;
  }
}
@media (max-width: 480px) {
  .work .guide {
    width: 100%;
  }
}




.card:hover .title {
  transform: translateY(0%);
  color: #027090;
  transition: all 0.3s;
}

.title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px 10px;
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(100%);
  transition: all 0.3s;
}


/*CONTACT PAGE*/



.ContactPage{
	width: 100%;
	height: 100vh;
	display: block;
	position: relative;

}
.ContactBanner{
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;

}
.ContactBanner:after{
	content: '';
	height: 100%;
	width: 100%;
	display: block;;
	z-index: 9;
	background-color: rgb(0,0,0,0.5);
	position: absolute;
	top: 0;
}
.ContactBanner img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(100%);
}

.ContactContents{
	position: absolute;
	left: 15%;
	top: 15%;
	width: 70%;
	z-index: 99;
}
.ContactContents h1{
	color: #fff;
	position: relative;
	font-size: 45px;
	text-align: left;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.ContactContents h1:after{
	background-color: rgb(0, 76,63,0.85);
	height:5px;
	width: 220px;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	bottom: 0;
}


.contact-map{
	width: 100%;
	height: 19vmax;
	position: relative;
	display: block;

}
.contact-map iframe{
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	display: block;

}

.ContactDetailAndForm{
	margin-top: 5%;

}
.ContactInfo{
	width: 52%;
	float: left;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.ContactInfo p{

	width: 48%;
	font-size: 18px;
	color: #fff;
	display: block;
	padding-left: 30px;
	box-sizing: border-box;
	position: relative;
	line-height: 24px;
	margin-bottom: 20px;

}
.ContactInfo p i{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 25px;
	width: 30px;
}
.ContactInfo p .fa-mobile{
	
	font-size: 32px;

}
.ContactInfo p .fa-envelope{
	
	margin-left: -5px;

}

.ContactForm{
	width: 45%;
	float: right;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.ContactForm input{
	width: 48%;
	display: block;
	border:1px solid rgba(255,255,255,0.5);
	background-color: #fff;
	padding: 10px 15px;
	border-radius: 50px;
	box-sizing: border-box;
	font-size: 16px;
	outline: :none !important;
}
.ContactForm textarea{
	width: 100%;
	display: block;
	border:1px solid rgba(255,255,255,0.5);
	background-color: #fff;
	color: #000;
	padding: 10px 15px;
	border-radius: 50px;
	min-height: 60px;
	box-sizing: border-box;
	max-height: 60px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	margin-top: 15px;
	outline: :none !important;
}

